.footer{
   width: 105%;
   height: 400px;
   border: 2px solid gainsboro;
   position: absolute;
   top:100%;
   transform: translateY(-28%);
   border-top-left-radius: 90px;
   border-top-right-radius: 90px;
   border-left: none;
   border-right: none;
}