.imgContent{
    position: relative;
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    padding: 10px 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
    .imgContent{
        justify-content: center;
        flex-direction: column;
    }
}

