.avai{
    width: fit-content;
    margin: auto;
    border: 1px solid rgb(127, 88, 247);
    border-radius: 40px;
}
.avai button{
    background-color: rgb(127, 88, 247);
    border: none;
    color: #ffff;
    padding: 13px 7px;
    font-size: 14px;
    border-radius: 40px;
    margin: 12px;
}
@media only screen and (max-width: 500px) {
    .avai{
        margin-left: 150px;
    }
}
